body,html {
  width: 100%;
  
  font-family: 'Montserrat', sans-serif;
  background: url(photo3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}
.modal-content{
  background-color: #fff0;
  border-color: #fff0;
}

.modal-lg{
  max-width: 600px;
}
h1{
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  color: rgb(221, 236, 238);
  
}
.box{
  height: 18rem;




}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  /* margin-bottom: 50px; */
  background-color: black;
  border-color: black;
}
.btn-xl{
  padding: 1rem 1rem;
}

.buffer{
  height: 5rem;
}

.container3{
  height: 15rem;
  background-color: #c94647;
}
img:hover{
  cursor: pointer;
}



.text{
  
  
  padding: 20px;
  top: 50px;
  
  
}
.container{
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  grid-template-rows: 1fr;
  grid-gap: 40px;

}
.gallery-container{
  margin-top: 50px;
  width: 75%;
  height: 50%;
}
.gallery-item{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
  transition: .5s ease-in-out;
  box-shadow: 8px 8px 8px darkgrey;

}

.gallery-item .image{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.gallery-item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%, 50%;
  transition: .5s ease-in-out;

}
.footer{
  width: 100%;
  align-content: center;
  background-color: brown;
  height: 100%;
}
.fab {
  color: slategray;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}
.icons{
  
  display: flex;
  justify-content: center;
}


.link{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  
 }
.fab:hover{
  color: white;
  transform: scale(1.1);
}

.creator{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 /* margin-top: 15px; */
 padding: 20px;
 text-align: right;
 text-transform: capitalize;
 color: whitesmoke;
}
